@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Julius+Sans+One&family=Quicksand:wght@300..700&family=Signika:wght@300..700&display=swap");

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

/*Nav Bar Styling*/
:root {
  --olive: #5f6f52;
  --cornsilk: #fefae0;
  --russet: #783d19;
  --laurelgreen: #a9b388;
  --camel: #b99470;
  --lemon: #f9ebc7;
  --light-beige: #fffdf0;
  --ash: #99A48E;
  --ivory: #FEFEEC;
  --smoky: #1A140F;
  --russett: #B47604;
}
/*Navbar Styling*/
.navbar {
  background: linear-gradient(var(--olive), var(--olive));
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-img {
  margin-left: 0px;
  margin-right: 750px;
}

.navbar ul {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.navbar li {
  list-style: none;
  font-family: "Montserrat";
  letter-spacing: 0.5px;
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
  position: relative;
  font-size: medium;
  color: #77b254; /*this changes the color of sub menu items*/
}

.navbar-items {
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--ivory);
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: var(--light-beige);
  border-radius: 40px;
  transform: scaleX(0);
  transition: transform 0.4s;
}

.navbar a:hover {
  color: var(--light-beige);
}

.navbar a:hover::after {
  transform: scaleX(1);
}

.navbar-brand img {
  height: 3rem;
  padding-top: 0.2rem;
}

/*  Style for dropdown menus */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(56, 57, 55); /*This changes the color of drop down box*/
  min-width: 160px;
  box-shadow: 5px 8px 16px 0px rgba(211, 207, 207, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* END - Style for drop down menus */
/*  Navbar  End */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: var(--ivory, #FEFEEC) !important;
}


/*Hero Section Styling*/
.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  margin: 0 auto;
}  /*Navbar Styling*/
.navbar{
  background: linear-gradient(var(--olive), var(--olive));
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.nav-img{
  margin-left:0px;
  margin-right: 750px;
}

.navbar ul{
  display: flex;
  gap: 40px;
  margin-left: auto; 
}

.navbar li{
  list-style: none;
  font-family: 'Montserrat';
  letter-spacing: 0.6px; 
}


.navbar a{
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
  position: relative;
  font-size: medium;
  color:#77B254  ;  /*this changes the color of sub menu items*/
}

.navbar-items{
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 4px;
  color:#FFFDF0; 
}

.navbar a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: var(--light-beige);
  border-radius: 40px;
  transform: scaleX(0);
  transition: transform .4s;

}

.navbar a:hover{
  color: var(--light-beige);
}

.navbar a:hover::after{
  transform: scaleX(1);
}

.navbar-brand img{
  width: 75px;
  height: 65px;
}



/*  Style for dropdown menus */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(56, 57, 55); /*This changes the color of drop down box*/
  min-width: 180px;
  box-shadow: 5px 8px 16px 0px rgba(211, 207, 207, 0.2);
  padding: 12px 16px;
  z-index: 1; 
  
}

.dropdown:hover .dropdown-content {
  display:block;
}

/* END - Style for drop down menus */
/*  Navbar  End */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: var(--ivory, #FEFEEC) !important;
}

/* END - Style for drop down menus */
/*  Navbar  End */

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
   
}

/* Devices under 992px (xl) */
@media (max-width: 991.98px) {
 
}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {
  footer{
    padding: 60;
  }
}
/*============= MEDIA QUERIES END =============*/



footer {
  background: linear-gradient(var(--olive),var(--olive));
}
footer.mt-4 {
  margin-top: 0 !important;
  padding: 10px;
} 


footer a, footer p,
.socket a, .socket p{
color: white;
font-size: .9rem;
font-weight: 300;
}

footer a:hover,
.socket a:hover{
  color: white;
}

ul.social{
  list-style-type: none;
  display: flex;
  max-width: 18rem;
  padding: 0;
  margin: 0 auto;
}

ul.social li{
  margin: 0 auto;
}

ul.social .svg-inline--fa{
font-size: 2.2rem;
}
ul.social .svg-inline--fa:hover{
  color: #d1d1d1;
  }

.hero-text {
  position: absolute;
  text-align: center;
  color: var(--cornsilk);
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Julius Sans One", "sans-serif";
}

.hero-text h1 {
  font-size: 9rem;
  font-weight: bold;
  line-height: 0.4;
  margin: 0;
  letter-spacing: 35px;
}

.hero-text h1 span {
  display: block;
  font-size: 2rem;
  font-weight: 10px;
  letter-spacing: 0;
}

.slides {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.navigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 10;
}

.arrow {
  border: none;
  padding: 0px;
  margin: 0 30px;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  background: none;
}

.arrow img {
  width: 25px;
  height: auto;
}
.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.control-button {
  border: none;
  padding: 0px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  background: none;
}

.control-button img {
  width: 50px;
  height: auto;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide:nth-child(1) {
  background-image: url("../images/plateprep1.jpg");
}

.slide:nth-child(2) {
  background-image: url("../images/spread11.jpg");
  background-image: url("../images/alexandra-tran-IjrBf8rtKXE-unsplash.jpg")

}

.slide:nth-child(3) {
  background-image: url("../images/dogu-tuncer-Hyku_49XjGg-unsplash.jpg");
  background-image: url(../images/piotr-szulawski-DCmUhk54F6M-unsplash.jpg);
}

.slide:nth-child(4) {
  background-image: url("../images/interior.jpg");
  background-image: url(../images/edward-howell-vvUy1hWVYEA-unsplash.jpg);
}

.slide:nth-child(5) {
  background-image: url("../images/plateprep1.jpg");
}

.slide:nth-child(6) {
  background-image: url("../images/spread11.jpg");
  background-image: url("../images/alexandra-tran-IjrBf8rtKXE-unsplash.jpg")

}

/* Slogan Section Styling */
.slogan-section {
  width: 100%;
  height: 25vh;
  margin: 10px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.slogan-section h2 {
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: var(--smoky);
  margin: 0 0 5px 0;
}

.slogan-section p {
  font-size: 1.5rem;
  line-height: 1.8;
  margin: 0;
  color: #555;
  font-family: "Montserrat", sans-serif;
}

/* Mission Section Styling */
.mission-section {
  display: flex;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin: 20px 0;
  background-color: var(--lemon);
}

.mission-text {
  flex: 0 0 33%;
  max-width: 33%;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--smoky);
}

.mission-text h2 {
  font-size: 2rem;
  font-family: "Julius Sans One";
  font-weight: bold;
  margin-bottom: 20px;
}

.mission-text p {
  max-width: 80%;
  text-align: center;
  margin: auto;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 10px;
  font-family: "Montserrat";
}

.mission-image {
  flex: 2;
  max-width: 66%;
  height: 100%;
}

.mission-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Transitions Styling */
.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

footer {
  background: linear-gradient(var(--olive), var(--olive));
  margin-top: 0;
}

footer a,
footer p,
.socket a,
.socket p {
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
}

footer a:hover,
.socket a:hover {
  color: white;
}

ul.social {
  list-style-type: none;
  display: flex;
  max-width: 18rem;
  padding: 0;
  margin: 0 auto;
}

ul.social li {
  margin: 0 auto;
}

ul.social .svg-inline--fa {
  font-size: 2.2rem;
}
ul.social .svg-inline--fa:hover {
  color: #d1d1d1;
}
/*=== SOCKET ===*/
.socket {
  background-image: linear-gradient(90deg,#0ed41cef,#176f06);
  text-align: center;
  padding: 1rem;
  border-top: .05rem solid white;
}

#content-wrap{
  padding-bottom: 0px;
}

#page-container{
  position: relative;
  min-height: 100vh;
}

/*Testimonials Styling*/
.testimonial-content {
  text-align: center;
  padding: 20px;
  color: #333;
  margin: 0 auto;
  width: 100%;
}

.testimonial-heading {
  font-size: 2rem;
  margin-bottom: 5px;
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
}

.testimonials {
  background-color: var(--ivory);
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.testimonials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: auto;
  cursor: pointer;
}

/*.testimonials-container.left-hover {
  cursor: url('/assets/left-cursor-removebg-preview.png'), w-resize;
}

.testimonials-container.right-hover {
  cursor: url('/assets/right-cursor-removebg-preview.png'), e-resize;
}*/

.testimonials-slider {
  display: flex;
  transition: transform 0.8s ease-out;
  width: 100%;
}

.testimonial {
  min-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--ivory);
  margin-bottom: none;
}

.review-text {
  font-size: 1.75em;
  margin: 12x 0;
  font-family: "Montserrat", sans-serif;
}

.review-author {
  color: #444;
  font-family: "Montserrat", sans-serif;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}

/* Devices under 992px (xl) */
@media (max-width: 1024px) {
  .hero-text h1 {
    font-size: 7rem;
    letter-spacing: 6px;
  }

  .hero-text h1 span {
    font-size: 2rem;
  }

  .arrow img {
    width: 20px;
  }

  .control-button img {
    width: 50px;
  }

  .slogan-section h2 {
    font-size: 2.3rem;
  }

  .slogan-section p {
    font-size: 1.3rem;
  }

  .mission-text {
    margin: 0;
    padding: 17px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .mission-text h2,
  .mission-text p {
    max-width: 100%;
  }

  .mission-text p{
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 10px;
  }

  .review-text {
    font-size: 1.3em;
  }

  .testimonial-heading {
    font-size: 2rem;
  }
}

/* Devices under 768px (md) */
@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 5rem;
    letter-spacing: 6px;
  }

  .hero-text h1 span {
    font-size: 1.5rem;
  }

  .arrow img {
    width: 15px;
  }

  .control-button img {
    width: 40px;
  }

  .slogan-section h2 {
    font-size: 1.75rem;
  }

  .slogan-section p {
    font-size: 1rem;
  }

  .mission-section {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .mission-text {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .mission-text h2,
  .mission-text p {
    max-width: 100%;
  }

  .mission-text p{
    font-size: 0.8rem;
    line-height: 1.4;
    padding: 0 10px;
  }

  .mission-image {
    flex: 1 1 100%;
    max-width: 100%;
    height: auto;
  }

  .mission-image img {
    width: 100%;
    height: auto;
  }

  .review-text {
    font-size: 1.3em;
  }

  .testimonial-heading {
    font-size: 1.8rem;
  }
}
