/*link decoration*/
main a {
   text-decoration: none;
}

/*formats reviews*/
#reviews {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
}
.review-heading {
   letter-spacing: 1px;
   margin: 30px 0px 10px;
   padding: 5px, 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 20px;
}
.review-heading h1 {
   font-size: 2.2rem;
   font-weight: 500;
   color: white;
   background-color: black;
   padding: 10px 20px;
   font-family: 'Barlow';
   display: inline-block; 
}
.review-heading span {
   font: 1.3rem;
   color: #252525;
   margin-bottom: 10px;
   letter-spacing: 2px;
   text-transform: uppercase;
}

.review-box-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
}

.review-box {
   width: 500px;
   box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
   background-color: #ffffff;
   padding: 30px;
   margin: 15px;
   cursor: pointer;
   
}
.profile-img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 10px; 
}
.profile-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}
.profile {
   display: flex;
   align-items: center;
}
.name-user {
   display: flex;
   flex-direction: column;
}
.name-user strong {
   color: #3d3d3d;
   font-size: 1.1 rem;
   letter-spacing: 0.5px;
}
.name-user span{
   color: #979797;
   font-size: 0.8 rem;

}
.review {
   color: #efbe1e;
   margin-left: 50px;
}
/*Formating the percentage bar positions, checkboxes, and stars together as flex*/
.star {
   color: #efbe1e;
}
.star-block {
   padding-bottom:7px;

}
.counts {
   margin-top: -2px;
   font-family: Barlow;
} 
.percentVisual {
   display: flex;
   gap: 10px;
}
.box-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}
/*subheading of reviews*/
.client-details {
   display: inline;
}
.client-details span:not(:last-child)::after {
   content: "|";
   padding: 5px;
}

.client-details span {
   color: #616161;
   font-size: 0.8 rem;
}
/*Pop up formatting*/
#add-reviews {
   padding: 20px;
}

#add-reviews #reviewForm {
   padding: 20px;
}

#add-reviews h2{
   text-align: center;
   font-family: 'Barlow';
}

#openForm{
   background-color: black;
   color: white;
   border: none;
   padding: 10px 20px;
   margin-bottom: 20px;
   margin-top: 20px; 
   font-size: 20px;
   cursor: pointer;
   border-radius: 5px;
}

#openForm:hover{
   background-color: var(--red);
}

/*formatting for filter drop down*/
#filterBlock {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
   padding: 10px;
   padding-top: 30px;
   width: 90%;
   font-family: Poppins;
   font-size: 15px;
   position: static;
   z-index: 0;
}
/* formatting how to percent bar looks*/
.percentBar {
   width: 300px;  
   height: 12px;  
   border-radius: 10px;
   background-color: rgb(172, 165, 165);  
   position: relative;
}
/* formatting the rating summary title, average rating, stars, percentages, bars*/
#details-block {
   display: flex;
   justify-content: left;
   width: 90%;
   padding-bottom: 30px;
   margin-top: -40px;
}
#details-block #avg-details{
   display: flex;
   gap: 10px;
}
#details-block h3 {
   text-align: center;
   font-family: 'Barlow';
}
#details-block #average {
   text-align: center;
   font-family: 'Barlow';
}
#details-block p {
   font-family: Poppins;
}
.green-bar {
   height: 12px;  
   background-color: #efbe1e;  
   margin: 0px 0;  
   width: 0%;  
   border-radius: 10px;
}
/*creates a box shadow around pop up*/
#reviewPopUp {
   position: fixed;
   align-items: center;
   margin-top: -1000px;
   background-color: white;
   box-shadow: 0px 0px 300px 300px rgba(119, 119, 119, 0.7);
   z-index: 10;
}

#x-out {
   padding: 20px;
}
/*formats the info block and detail block together*/
#details-block {
   display: flex;
   flex-direction: column;
   padding: 20px;
   gap: 10px;


}

#details-block p {
   flex-shrink: 10;
   flex-grow: 4;
}

/*formatting of info block*/
#info-block {
   width: 500px;
   text-align: justify;
}