* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --olive: #5f6f52;
  --cornsilk: #fefae0;
  --laurelgreen: #a9b388;
  --camel: #b99470;
  --lemon: #f9ebc7;
  --light-beige: #fffdf0;
  --ash: #99A48E;
  --ivory: #fdfdf2;
  --smoky: #1A140F;
  --russett: #B47604;
}

/*Navbar Styling*/
.navbar {
  background: linear-gradient(var(--olive), var(--olive));
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-img {
  margin-left: 0px;
  margin-right: 750px;
}

.navbar ul {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.navbar li {
  list-style: none;
  font-family: 'Montserrat';
  letter-spacing: 0.6px; 
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
  position: relative;
  font-size: medium;
  color: #77b254; /*this changes the color of sub menu items*/
}

.navbar-items {
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 4px;
  color: #fffdf0;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: var(--light-beige);
  border-radius: 40px;
  transform: scaleX(0);
  transition: transform 0.4s;
}

.navbar a:hover {
  color: var(--light-beige);
}

.navbar a:hover::after {
  transform: scaleX(1);
}

.navbar-brand img{
  width: 75px;
  height: 65px;
}

/*  Style for dropdown menus */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(56, 57, 55); /*This changes the color of drop down box*/
  min-width: 180px;
  box-shadow: 5px 8px 16px 0px rgba(211, 207, 207, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display:block;
}

/* END - Style for drop down menus */
/*  Navbar  End */

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
}

/* Devices under 992px (xl) */
@media (max-width: 991.98px) {
}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {
  footer {
    padding: 60;
  }
}
/*============= MEDIA QUERIES END =============*/



footer {
  background: linear-gradient(var(--olive),var(--olive));
}
footer.mt-4 {
  margin-top: 0 !important;
  padding: 10px;
} 

footer a,
footer p,
.socket a,
.socket p {
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
}

footer a:hover,
.socket a:hover {
  color: white;
}

ul.social {
  list-style-type: none;
  display: flex;
  max-width: 18rem;
  padding: 0;
  margin: 0 auto;
}

ul.social li {
  margin: 0 auto;
}

ul.social .svg-inline--fa {
  font-size: 2.2rem;
}
ul.social .svg-inline--fa:hover {
  color: #d1d1d1;
}
/*=== SOCKET ===*/
.socket {
  background-image: linear-gradient(90deg, #0ed41cef, #176f06);
  text-align: center;
  padding: 1rem;
  border-top: 0.05rem solid white;
}

#content-wrap {
  padding-bottom: 0px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

/*about us page*/

#content {
  background-color: var(--olive);
  padding: 70px;
  text-align: justify;
  font: "Montserrat";
}

#content p {
  font-family: "Montserrat";
  text-align: left;
  /* border: 5px var(--laurelgreen);
  border-style: dotted; */
  padding: 40px;
  color: var(--ivory);
  font-size: 19px;
}

#food {
  width: 100%;
  height: 350px;
  padding-bottom: 0px;
}

img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

#content h1 {
  font-weight: 300;
  color: var(--ivory);
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  padding-top: 30px;
}

#form-text {
  font: "Montserrat";
}

/* Welcome messgae styling used in contact us form */
.welcome-message {
  color: green;
  margin-bottom: 20px;
}
/*animation styling*/

.hidden {
  opacity: 0;
  transition : all 1.5s;
  transform: translatey(20%);
}

.show {
  opacity: 1;
  transform: translatey(0);
}

.hidden-img{
  opacity: 1;
  transition : all 1.2s;
  transform: rotateZ(180deg);
  transform: rotateY(-180deg);
}
.show-img{
  opacity: 1;
  transform: rotateZ(0);
}

.hidden-abtimg{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show-abtimg{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.foods{
  display: flex;
}
.foods > div:nth-child(1) img.hidden-abtimg{
  transition-delay: 100ms;
}
.foods > div:nth-child(2) img.hidden-abtimg{
  transition-delay: 300ms;
}
.foods > div:nth-child(3) img.hidden-abtimg{
  transition-delay: 500ms;
}


@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
  .hidden-img{
    transition: none;
  }
}

/*FAQ Styling*/


.faq-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.faq-section {
  margin-bottom: 30px;
  font-family: 'Montserrat';
}

.faq h2 {
  color: #333;
  margin-bottom: 15px;
}

.faq-row {
  width: 100%;
}

.faq-item {
  width: 100%;
  background-color: transparent;
  padding: 10px 10px;
  border-right: 10px;
  border-left: 10px;
  border-bottom: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.faq-question {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  color: #333;
  text-align: left;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
  font-family: 'Montserrat';
}

.toggle-sign {
  font-size: 1.5rem;
  margin-left: 10px;
  float: right;
}

.faq-answer {
  display: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  font-family: 'Montserrat';
}

.faq-answer.open {
  display: block;
  max-height: 500px;
  padding: 10px;
  font-family: 'Montserrat';
}

.faq-answer p{
  padding: 20px;
  background-color: var(--cornsilk);
}

.faq-intro{
  font-family:'Montserrat';
  background-color:var(--cornsilk);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 90px;
  text-align: justify;
  
}

.contactus-intro{
  font-family:'Montserrat';
  background-color:var(--cornsilk);
  padding: 20px;
  text-align: center;
  
}

.feedback p{
  background-color: white;
  padding: 10px;
  font-size: 14px;
}

/*CONTACT US STYLING*/

.center {
  font-family: "Montserrat";
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  padding-top: 30px;
  padding-bottom: 20px;
  box-shadow: 6px 6px 25px rgb(174, 174, 174);
}

/*Reference Page*/
.sources{
  background-color: var(--cornsilk);
  font-family: "Montserrat";
  padding: 30px;
}
.sources h2{
  font-size: 20px;
}
.sources h1{
  text-align:center;
}