*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

  
  :root{
    --olive: #5F6F52;
    --cornsilk: #FEFAE0;
    --russet: #783D19;
    --laurelgreen: #A9B388;
    --camel: #B99470;
    --lemon: #F9EBC7;
    --light-beige: #FFFDF0;
}

  
  /*Navbar Styling*/
.navbar{
  background: linear-gradient(var(--olive), var(--olive));
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.nav-img{
  margin-left:0px;
  margin-right: 750px;
}

.navbar ul{
  display: flex;
  gap: 40px;
  margin-left: auto; 
}

.navbar li{
  list-style: none;
  font-family: 'Montserrat';
  letter-spacing: 0.5px; 
}


.navbar a{
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
  position: relative;
  font-size: medium;
  color:#77B254  ;  /*this changes the color of sub menu items*/
}

.navbar-items{
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 4px;
  color:#FFFDF0; 
}

.navbar a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: var(--light-beige);
  border-radius: 40px;
  transform: scaleX(0);
  transition: transform .4s;

}

.navbar a:hover{
  color: var(--light-beige);
}

.navbar a:hover::after{
  transform: scaleX(1);
}

.navbar-brand img{
  height: 3rem;
  padding-top: .2rem;
  }



/*  Style for dropdown menus */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(56, 57, 55); /*This changes the color of drop down box*/
  min-width: 160px;
  box-shadow: 5px 8px 16px 0px rgba(211, 207, 207, 0.2);
  padding: 12px 16px;
  z-index: 1; 
  
}

.dropdown:hover .dropdown-content {
  display:block; 
}

/* END - Style for drop down menus */
/*  Navbar  End */

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
   
}

/* Devices under 992px (xl) */
@media (max-width: 991.98px) {
 
}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {
  footer{
    padding: 60;
  }
}
/*============= MEDIA QUERIES END =============*/

/*Footer Styling*/
/* footer {
  background-color:var(--olive);
  height: 50px;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat';
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--light-beige);
  margin-bottom: 0px;
}

footer p a{
  text-align: right;
  text-decoration: none;
  color: var(--light-beige);
}

footer p{
  margin: 0;
} */

footer {
  background: linear-gradient(var(--olive),var(--olive));
  margin-top: 0;
}


footer a, footer p,
.socket a, .socket p{
color: white;
font-size: .9rem;
font-weight: 300;
}

footer a:hover,
.socket a:hover{
  color: white;
}

ul.social{
  list-style-type: none;
  display: flex;
  max-width: 18rem;
  padding: 0;
  margin: 0 auto;
}

ul.social li{
  margin: 0 auto;
}

ul.social .svg-inline--fa{
font-size: 2.2rem;
}
ul.social .svg-inline--fa:hover{
  color: #d1d1d1;
  }
/*=== SOCKET ===*/
.socket {
  background-image: linear-gradient(90deg,#0ed41cef,#176f06);
  text-align: center;
  padding: 1rem;
  border-top: .05rem solid white;
}



#content-wrap{
  padding-bottom: 0px;
}

#page-container{
  position: relative;
  min-height: 100vh;
}

/*about us page*/

#content{
  background-color: var(--olive);
  padding: 70px;
  text-align: justify;
  font: 'Montserrat';
}

#content p{
  font-family: "Montserrat";
  text-align: justify;
  border: 5px var(--laurelgreen);
  border-style: dotted;
  padding: 40px;
  color: var(--light-beige);
}

#food{
  width: 100%;
  height: 350px;
  padding-bottom: 0px;
}

img{
  width: 100%;
  height: 110%;
  object-fit:cover;
}

#content h1{
  font-weight: 300;
  color: var(--cornsilk);
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}

#form-text{
  font: 'Montserrat';
}


/*animation styling*/

.hidden{
  opacity: 0;
  transition : all 1.5s;
  transform: translateZ(-50%);
}

.show{
  opacity: 1;
  transform: translateZ(0);
}

@media(prefers-reduced-motion){
  .hidden{
    transition: none;
  }
}


